* {box-sizing:border-box}
nav {
  margin: 0;

}
nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #C9EBF2;

}
nav li {
  margin: 0;
  list-style: none;
  font-family: "canvas-inline", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
  
}
nav a {
  text-decoration: none;
  font-size: 1rem;

}
nav a:link {
  display: flex;
  font-family: "grecian-light-face", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75em;
  gap: 1rem;
  color: black;
  
}
nav a:visited {
  color: #F5CE1A;
}
nav a:hover {
  color: #F5CE1A;
}
.nav-links {
  display: flex;
  gap: 1rem;
}
.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: #A62317;
  transition: 0.3s;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1em;
  color: #44A6A6;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}
.nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #C9EBF2;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: flex;

  }
/* main-css */
/* Position the image container (needed to position the left and right arrows) */
.container-slideshow-main {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  display: none;
  text-align: center;
  background-color: #c00d0d;
  opacity: 0.6;
  padding: 2px 10px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}