.card-container {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
        "card-pos-a card-pos-b card-pos-c"
        "card-pos-d card-pos-e card-pos-f";
    grid-template-rows: 465px 465fr 465px;
    grid-template-columns: auto;

}

.card-pos-a {
    grid-area: "card-pos-a";

}
.card-pos-b {
    grid-area: "card-pos-b";
    
}
.card-pos-c {
    grid-area: "card-pos-c";
    
}
.card-pos-d {
    grid-area: "card-pos-d";
    
}
.card-pos-e {
    grid-area: "card-pos-e";
    
}
.card-pos-f {
    grid-area: "card-pos-f";
    
}

.card-pos-a, .card-pos-b, .card-pos-c, 
.card-pos-d, .card-pos-e, .card-pos-f {
  display: flex;
  justify-content: center;
  align-items: center;
}
:root{
    --card-width:465px;
    --card-height:465px;
  
  }
  
  /* .card{
    position:absolute;
    height:var(--card-height);
    width:var(--card-width);
    perspective: 1000px;
  
  } */
  .card-inner{
    position: relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    transform-origin: center;
  
  }
  .card-front, .card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
  }
  .card-img{
    height:100%;
  }
  .card-back{
    transform:rotateY(-180deg);
  
  }
  .card:hover .card-inner{
    transform:rotateY(180deg);
  }
  .card-inner:hover .card-back {
    transform: rotateY(180deg);  /* Ensure back face is visible when hovering */
  }
  